SMTP_HOST=smtplw.com.br
SMTP_PORT=587
SMTP_USER=mscloud06
SMTP_PASS=senha_da_locaweb
SMTP_FROM_EMAIL=email_remetente@seudominio.com.br
SMTP_FROM_NAME=Decoratie
ADMIN_ORDER_EMAIL=loja@seudominio.com.br
